<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Request Tests">
      <directory>Request</directory>
    </testsuite>
    <testsuite name="Response Tests">
      <directory>Response</directory>
    </testsuite>
    <testsuite name="Server Tests">
      <directory>Server</directory>
    </testsuite>
  </testsuites>
</phpunit>
