<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Request Tests">
      <directory>RequestTests</directory>
    </testsuite>
    <testsuite name="Response Tests">
      <directory>ResponseTests</directory>
    </testsuite>
    <testsuite name="Client Tests">
      <directory>ClientTests</directory>
    </testsuite>
    <testsuite name="Server Tests">
      <directory>ServerTests</directory>
    </testsuite>
    <testsuite name="Integrated Tests">
      <directory>IntegratedTests</directory>
    </testsuite>
  </testsuites>
</phpunit>
